body{
  background-color: aquamarine;
}

.container{
  max-width: 1300px;
}

header{
  display: flex;
  justify-content: space-around;
}

.logo{
  width: 200px;
}

.menu ul{
  display: flex;
}

.menu li{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.menu li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #372666;
}

.main{
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-left: 50px;
  border: solid black 1px;
  border-radius: 5px;
}

.title{
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px 5px #000;
}

.paragraph{
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}