body{
  background-color: aquamarine;
}

header{
  display: flex;
  justify-content: space-around;
}

.logo{
  width: 200px;
}

.menu ul{
  display: flex;
}

.menu li{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.menu li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #372666;
}

.main{
  width: 400px;
  height: 400px;
  border: solid black 1px;
  border-radius: 5px;
}